@using RevenueManagementSystem.Models
@{
    ViewBag.Title = "Birthreceipt";
    Layout = "~/Views/Shared/_RevenueLayout.cshtml";
}

@{
    var res = Session["BirthInfo"] as Birth;
    var res2 = Session["user"] as Citizen;
}

@Html.Partial("_HeaderTwoPartial")
<section class="container">
    <div class="row">
        <aside class="col-md-3">
            <div class="quick-links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="taxrevenue"><i class="fa fa-th"></i> Dashboard</a></li>
                    <!--<li><a href="registration"><i class="fa fa-user"></i> Registration</a></li>-->
                    <li data-toggle="collapse" data-target="#new" class="collapsed">
                        <a href="#"><i class="fa fa-user"></i> Registration <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="new">
                        <li><a href="birth"> Birth</a></li>
                        <li><a href="death"> Death</a></li>
                        <li><a href="marriage"> Marriage</a></li>
                    </ul>
                    <li><a href="licenses"><i class="fa fa-book"></i> Upload Licenses Paid</a></li>
                    <li><a href="payment"><i class="fa fa-bank"></i> Payment Option</a></li>
                    <!--<li><a href="verify"><i class="fa fa-edit"></i> Verify Payment</a></li>-->
                    <!--<li><a href="#"><i class="fa fa-user"></i> Create Administrator</a></li>-->
                    <li><a href="manageaccount"><i class="fa fa-users"></i> Manage Account</a></li>
                    <li><a href="citizenprofile"><i class="fa fa-print"></i> Profile</a></li>
                </ul>
            </div>

        </aside>
        <article class="col-md-9">
            @if (res != null && res2 != null)
            {

            <div class="table-responsive">
                <table class="table-condensed" border="0" cellpadding="5" id="invoice-table" style="font-size:16px;line-height:20px;">
                    <th class="text-center">PAYMENT INVOICE FOR BIRTH REGISTRATION</th>

                    <tr><th>Name: </th><td>@res2.FirstName </td></tr>
                    <tr><th>Phone Number: </th><td>@res2.PhoneNumber</td></tr>
                    <tr><th>Occupation: </th><td>@res2.LGA</td></tr>
                    <tr><th>Bank: </th><td>@res.Occupation</td></tr>
                    <tr><th>Amount Paid: </th><td>@res.AmountPaid</td></tr>
                    <tr><th>Revenue Type: </th><td>@res.Bank</td></tr>
                    <tr><th>Name Of Baby: </th><td>@res.NameOfBaby</td></tr>
                    <tr><th>Date Of Invoice: </th><td>@res.DOB</td></tr>
                    <tr><th>Date Of Invoice: </th><td>@res.PlaceOfBirth</td></tr>
                </table><br>

                <div class="form-group">
                    <button type="submit" name="invoice" class="btn btn-success" id="btn-invoice">
                        <i class="fa fa-print"></i> Print Invoice
                    </button>
                </div>
            </div>

            }
        </article>
    </div>
</section>

