@using RevenueManagementSystem.Models


@{
    ViewBag.Title = "LicenseInvoice";
    Layout = "~/Views/Shared/_RevenueLayout.cshtml";
}

@{
    var res = Session["citizen"] as License;
}

@Html.Partial("_HeaderTwoPartial")


<section class="container">
    <div class="row">
        <aside class="col-md-3">
            <div class="quick-links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="taxrevenue"><i class="fa fa-th"></i> Dashboard</a></li>
                    <!--<li><a href="registration"><i class="fa fa-user"></i> Registration</a></li>-->
                    <li data-toggle="collapse" data-target="#new" class="collapsed">
                        <a href="#"><i class="fa fa-user"></i> Registration <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="new">
                        <li><a href="birth"> Birth</a></li>
                        <li><a href="death"> Death</a></li>
                        <li><a href="marriage"> Marriage</a></li>
                    </ul>
                    <li><a href="licenses"><i class="fa fa-book"></i> Upload Licenses Paid</a></li>
                    <li><a href="payment"><i class="fa fa-bank"></i> Payment Option</a></li>
                    <!--<li><a href="verify"><i class="fa fa-edit"></i> Verify Payment</a></li>-->
                    <!--<li><a href="#"><i class="fa fa-user"></i> Create Administrator</a></li>-->
                    <li><a href="manageaccount"><i class="fa fa-users"></i> Manage Account</a></li>
                    <li><a href="citizenprofile"><i class="fa fa-print"></i> Profile</a></li>
                </ul>


            </div>
        </aside>

        <article class="col-md-9">


            <div class="table-responsive">
                @if (res != null)
                {



                <table class="table-condensed" border="0" cellpadding="5" id="rev-invoice" style="font-size:16px;line-height:20px;">
                    <th class="text-center">PAYMENT INVOICE FOR LICENSES</th>
                    <tr><th>Transaction Reference: </th><td> @res.TransactionRef</td></tr>
                    <tr><th>Email: </th><td></td>@res.Email</tr>
                    <tr><th>Bank: </th><td>@res.Bank</td></tr>
                    <tr><th>Amount Paid: </th><td>@res.AmountPaid</td></tr>
                    <tr><th>Revenue Type: </th><td>@res.LicenseType</td></tr>
                    <tr><th>Date Of Invoice: </th><td>@res.DateRegistered</td></tr>
                </table><br>

                <div class="form-group">
                    <button type="submit" name="invoice" class="btn btn-success" id="tax-invoice">
                        <i class="fa fa-print"></i> Print Invoice
                    </button>
                </div>
                }
            </div>
        </article>


    </div>

</section>

