@model IEnumerable<RevenueManagementSystem.Models.Birth>
@using RevenueManagementSystem.Models
@{
    ViewBag.Title = "TaxRevenue";
    Layout = "~/Views/Shared/_RevenueLayout.cshtml";
}


@{
    var res = Session["user"] as Citizen;
}

@Html.Partial("_HeaderTwoPartial")
<section class="container">
    <div class="row">
        <aside class="col-md-3">
            <div class="quick-links">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="taxrevenue"><i class="fa fa-th"></i> DashBoard</a></li>
                    <!--<li><a href="registration"><i class="fa fa-user"></i> Registration</a></li>-->
                    <li data-toggle="collapse" data-target="#new" class="collapsed">
                        <a href="#"><i class="fa fa-user"></i> Registration <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="new">
                        <li><a href="birth"> Birth</a></li>
                        <li><a href="death"> Death</a></li>
                        <li><a href="marriage"> Marriage</a></li>
                    </ul>
                    <li><a href="licenses"><i class="fa fa-book"></i> Upload Licenses Paid</a></li>
                    <li><a href="payment"><i class="fa fa-bank"></i> Payment Option</a></li>
                    <!--<li><a href="verify"><i class="fa fa-edit"></i> Verify Payment</a></li>-->
                    <!--<li><a href="#"><i class="fa fa-user"></i> Create Administrator</a></li>-->
                    <li><a href="manageaccount"><i class="fa fa-users"></i> Manage Account</a></li>
                    <li><a href="citizenprofile"><i class="fa fa-print"></i> Profile</a></li>
                </ul>
            </div>

        </aside>
        <article class="col-md-9">


            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Occupation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AmountPaid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bank)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NameOfBaby)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DOB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PlaceOfBirth)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Occupation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AmountPaid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bank)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameOfBaby)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DOB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlaceOfBirth)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>

                            @Html.ActionLink("View", "BirthReceipt", new { id = item.Id })

                        </td>
                    </tr>
                }

            </table>
        </article>
    </div>
</section>
