@model IEnumerable<RevenueManagementSystem.Models.Birth >

@{
    ViewBag.Title = "RegisteredBirth";
    Layout = "~/Views/Shared/_RevenueLayout.cshtml";
}





@Html.Partial("_AdminHeader")
<section class="container">
    <div class="row">
        <aside class="col-md-3">
@Html.Partial("_SidePanel")

        </aside>
        <article class="col-md-9">

            <h2>List of Registered Births</h2><br />
            @if (ViewBag.Feedback != null)
            {
                <h3 style="color: darkgreen"><i>Total Number of Births : @ViewBag.Feedback</i></h3>
            }

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Occupation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AmountPaid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NameOfBaby)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.DOB)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PlaceOfBirth)
                    </th>

                    <th></th>
                    <th></th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Occupation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AmountPaid)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.NameOfBaby)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DOB )
                        </td>
                        <th>
                            @Html.DisplayFor(modelItem => item.PlaceOfBirth)
                        </th>

                        <td>
                            @Html.ActionLink("View", "Edit/"+item.Id, "Admin")
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "DeleteBirth/"+item.Id, "Admin")
                        </td>


                    </tr>
                }

            </table>
            </article>
</div>
</section>

<div id="backtotop" title="Scroll to top"></div>

