@model IEnumerable<RevenueManagementSystem.Models.Report>

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_RevenueLayout.cshtml";
}


@Html.Partial("_AdminHeader")
<section class="container">
    <div class="row">
        <aside class="col-md-3">
            @Html.Partial("_SidePanel")

        </aside>
        <article class="col-md-9">
            <h3 class="text-center">Report Section</h3><br>
            <div class="table-responsive">
                <table class="table table-bordered" id="report-table">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Amount</th>
                        <th>Revenue Type</th>
                        <th>Date</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><i></i>@item.FirstName</td>
                            <td><i></i>@item.LastName</td>
                            <td><i></i>@item.Address</td>
                            <td><i></i>@item.Email</td>
                            <td><i></i>@item.AmountPaid</td>
                            <td><i></i>@item.LicenseType</td>
                            <td><i></i>@item.DateRegistered</td>

                        </tr>
                    }
                </table>
                @if (ViewBag.Message != null) {
                <h4>TOTAL REGISTRATION:@ViewBag.Message </h4><br>
                }
                <div>
                    <button type="submit" name="invoice" class="btn btn-success" id="btn-report">
                        <i class="fa fa-print"></i> Print Report
                    </button>
                </div>
            </div>



        </article>
    </div>
</section>
<div id="backtotop" title="Scroll to top"></div>

